---
---
$primary: #ff8800;
$primary-active: #ff5500;

$header-bg-color: $primary;
$header-bg-color-secondary: $primary-active;

$section-headings-color: $primary;
$body-link-color: $primary;

@import "{{ site.theme }}";

.side-footer {
  .site-footer-credits {
    font-size: 0.7rem;
  }
}
